<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title_prefix -%}
            {% if 'wiki-name' in config %}{{ config['wiki-name']|e }} » {% endif %}
        {%- endblock %}
        {% block title -%}
            {{ title }}
        {%- endblock %}
    </title>

    <link href="https://github.com/transneptune/wiki/commits/master.atom" rel="alternate" title="Recent Commits to the Transneptune Wiki" type="application/atom+xml">
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400|Merriweather:400,700,700italic,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ make_relative('/media/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ make_relative('/media/css/grimoire.css') }}">
</head>
<body>

<div id="shell">
    {% if crumbs %}
        <div id="header">
            <ol id="breadcrumbs">
                {% for name, href in crumbs %}
                <li class="crumb-{{ loop.index0 }} {% if loop.last %}last{% else %}not-last{% endif %}">
                    {% if not href %}
                    {{ name|e }}
                    {% else %}
                    <a href="{{ make_relative(href)|e }}">{{ name|e }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
            <hr>
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <div id="footer">
        <hr>
        <p>
            {% if 'wiki-name' in config %}
                {{ config['wiki-name']|e }} —
            {% endif %}
            Powered by <strike>the Apocalpyse</strike> <a href="http://markdoc.org/">Markdoc</a>.
            &bull;
            {% block scm_info %}
            <a href="https://github.com/transneptune/wiki">See it on GitHub</a>.
            {% endblock %}
        </p>
    </div>
    {% endblock %}
</div>
</body>
</html>
